<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div id="visitor-panel" class="panel panel-default">
      <div class="panel-heading">
        <h3>Who goes there?</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <visitors-add></visitors-add>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <visitors-list></visitors-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
