<ul class="list-group">
  <li *ngFor="let visitor of visitors" class="list-group-item row">
    <div class="visitor-checkbox text-center">
      <input type="checkbox"
             class="list-child"
             (change)="onVisitorChange($event, visitor)"
             [checked]="visitor.greeted">
      <span>Hello {{visitor.name}}</span>
      <div ngClass="{{visitor.greeted ? 'alert alert-success' : 'alert alert-danger'}}"
            class="alert text-center col-xs-3">{{visitor.greeted ? "That happens!" : "What happens?"}}
      </div>
      <button class="btn btn-danger pull-right"
              (click)="onDeleteClick(visitor)">
              Delete
      </button>
      <button class="btn btn-default pull-right"
              (click)="onEditClick()">
              Edit
      </button>
    </div>
  </li>
</ul>
